/* Estilos para todos los títulos h1 */
h1 {
    background-color: black; /* Color de fondo verde agua/cian */
    color: yellow; /* Color de texto azul oscuro (navy) */
    text-align: center; /* Texto centrado */
    font-family: "Times New Roman", Times, serif;
    padding: 10px;
}

/* Estilos para todos los párrafos */
p {
    color: goldenrod; /* Color de texto azul medio */
    font-style: italic; /* Texto en cursiva */
    font-family: "Times New Roman", Times, serif;
    border-top: 2px solid goldenrod; /* Línea superior */
    border-bottom: 2px solid goldenrod; /* Línea inferior */
    padding: 10px 0; /* Espaciado arriba y abajo del texto para separarlo de las líneas */
}